/* Prev Next Nav */
#asyncslider_next_prev_nav {width: 39px; height:117px; left: auto !important; right: 0; margin: 0 !important; z-index:4; position:fixed; margin-top: -58px !important; top: 50% !important; }
#asyncslider_next_prev_nav li { margin:1px 0 0 !important; padding:0; width:39px; height:39px; }
#asyncslider_next_prev_nav li:first-child { margin:0 !important; }
#asyncslider_next_prev_nav li a {display:block; width:39px; height:39px; background-image:url(../images/slider3_controls.png); background-repeat:no-repeat; cursor:pointer; text-indent:-9999px; position:static !important;
-webkit-transition: background-position 0.15s ease-in; -moz-transition: background-position 0.15s ease-in; -ms-transition: background-position 0.15s ease-in; transition: background-position 0.15s ease-in;}
body.dark #asyncslider_next_prev_nav li.pause a,
body.light #asyncslider_next_prev_nav li.pause a:hover {background-position:0 -78px;}
body.dark #asyncslider_next_prev_nav li.pause a:hover,
body.light #asyncslider_next_prev_nav li.pause a {background-position:-39px -78px;}
body.dark #asyncslider_next_prev_nav li.next a,
body.light #asyncslider_next_prev_nav li.next a:hover {background-position:-39px -39px;}
body.dark #asyncslider_next_prev_nav li.next a:hover,
body.light #asyncslider_next_prev_nav li.next a {background-position:-39px 0;}
body.dark #asyncslider_next_prev_nav li.prev a,
body.light #asyncslider_next_prev_nav li.prev a:hover {background-position:0 0;}
body.dark #asyncslider_next_prev_nav li.prev a:hover,
body.light #asyncslider_next_prev_nav li.prev a {background-position:-0 -39px;}

/* Slide Buttons Nav */
#async_nav {text-align:center; margin-top: 15px;}
#asyncslider_slides_nav { list-style:none; margin:0; padding:0; display:inline-block;}
#asyncslider_slides_nav li {display: inline-block; margin: 0; float: left;}
#asyncslider_slides_nav li a {display: inline-block; width: 10px; height: 10px; background: #000; text-indent: -9999px; margin-left: 5px;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; filter: alpha(opacity=60); opacity:.6;}
#asyncslider_slides_nav li.active {}
#asyncslider_slides_nav li.active a {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); opacity:1;}
	
#front_centered {width:100%; left: 0 !important; margin-left: auto !important;}
#front_centered .container{width:100%;}
body.ie7 #front_centered {width:100% !important;}

.asyncslider_container {margin-bottom:0;}
.asyncslider_container li.slides {margin: 0 auto; padding: 10px 20px; width: 920px; text-shadow:1px 1px 0 rgba(0,0,0,0.6); min-height:380px; width:920px;}

#slideshow {position:relative;}
#front_centered.noMainboxes #slideshow {margin-top:-230px; height:400px;}

.async_shadow {width:1100px; height:20px; background:url(../images/shadow-both.png) no-repeat; position:absolute; left:50%; margin-left:-550px;}
.async_shadow.shadow_top { background-position:center top; bottom:0;}
.async_shadow.shadow_bottom { background-position:center bottom; top:0;}

/* Async styles */
body .async_list li {line-height: 45px; background-position: left center; font-size: 16px; margin: 0; border-top: 1px dotted  rgba(255, 255, 255, 0.2);  color:#fff;}
body .async_list li:first-child {border-top:0;}
body.light .asyncslider_container {color:#fff;}
body.light .asyncslider_container h4 {color:#fff;}

.async_gallery > p {margin:0;}
.async_gallery > ul {margin: 40px 0 0 0; padding: 0; overflow: visible;}
.async_gallery ul li {margin: 5px; float: left; padding: 0; list-style: none;}
.async_gallery li a,
.async_gallery li a:hover {width:270px;}
.async_gallery li a img {border: 1px solid #353535; padding: 4px; background: #000;  -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;
-webkit-transition:all 150ms ease-in; -moz-transition:all 150ms ease-in; -o-transition:all 150ms ease-in; transition:all 150ms ease-in;   }
.async_gallery li a img:hover {border: 1px solid #555; padding: 4px; background: #222; -webkit-box-shadow:0 0 8px rgba(0, 0, 0, 0.7); -moz-box-shadow:0 0 8px rgba(0, 0, 0, 0.7); box-shadow:0 0 8px rgba(0, 0, 0, 0.7); }
.async_gallery li a img,
.async_gallery li a:hover img {width:250px;  height:auto ;}

/* slides styling - slide 1 */
.slide-01 .img1 { position: absolute; top: 80px; left: 570px; width: 354px; height: 264px; z-index: 1; }
.slide-01 .img2 { position: absolute; top: 0px; left: 350px; width: 342px; height: 380px; z-index: 1; }
.slide-01 .title {position: absolute; font-weight: bold; top: 40px; left: 0px; width: 350px; text-align: left; font-size: 36px; color: white; z-index: 1; }
.slide-01 .subtitle {position: absolute; font-weight: normal; top: 80px; left: 0px;width: 350px; text-align: left; font-size: 20px; color: white; z-index: 1;}
.slide-01 .desc { position: absolute; font-weight: normal; top: 180px; left: 0px; width: 310px; text-align: left; font-size: 13px; color: white; z-index: 1; }
.slide-01 .button {position: absolute; top: 310px; left: 0px; width: 120px;} 

/* slides styling - slide 2 */
.slide-02 .right { top: 70px; left: 420px; width: 540px; height: 310px; height: 310px; position: absolute; }
.slide-02 .left { top: 80px; left: 0px; width: 360px; position: absolute; }
.slide-02 .title {position: absolute; font-weight: normal; top: 0px; left: 0px; width: 960px; text-align: left; font-size: 30px; color: white; z-index: 1;}
.slide-02 .async_list {position: relative; }
.slide-02 .async_list li {line-height: 45px; background-position: left center; font-size: 16px; margin: 0; border-top: 1px dotted  rgba(255, 255, 255, 0.2);  color:#fff;}
.slide-02 .async_list li:first-child {border-top:0;}
.slide-02 .button {position: absolute; top: 340px; left: 0px; width: 120px;}

/* slides styling - slide 3 */
.slide-03 .img1 {position: absolute; top: 10px; left: 0px; width: 358px; height: 369px; z-index: 1;}
.slide-03 .right {position: absolute; top: 10px; left: 400px; width: 600px; height: 400px; z-index: 1010;}
.slide-03 .or {width: 70px; height: 35px; position: relative; z-index: 1010; left: 0px; top: 0px;}

/* slides styling - slide 4 */
.slide-04 .title {position: absolute; font-weight: normal; top: 0px; left: 445px; width: 530px; text-align: left; font-size: 30px; color: white; z-index: 1;}
.slide-04 .img1 {position: absolute; top: 30px; left: 0px; width: 370px; height: 324px; z-index: 1;}
.slide-04 .right {top: 10px; left: 440px; width: 540px; height: 400px; position:absolute;}