<!doctype html>
<!--[if lt IE 7 ]> <html lang="en-gb" class="ie6 oldie no-js"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en-gb" class="ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en-gb" class="no-js"> <!--<![endif]-->

<head>
<title>Offline Page | EKHO Template</title>
<meta charset="utf-8">
<meta name="keywords" content="premium html template, unique fullscreen template" />
<meta name="description" content="EKHO is a unique premium HTML fullscreen template" />

<!-- Css Start. If you want to have compressed/minified css, comment the lines below -->
<link rel="stylesheet" href="css/base.css" type="text/css" />
<link rel="stylesheet" href="css/skeleton.css" type="text/css" />
<link rel="stylesheet" href="css/template.css" type="text/css" />
<link rel="stylesheet" href="css/custom.css" type="text/css" />

<link rel="stylesheet" href="css/social_icons.css" type="text/css" />
<link rel="stylesheet" href="css/superfish.css" type="text/css" />

<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;v1&mp;subset=latin,latin-ext" type="text/css" media="screen" id="google_font" />
<link rel="stylesheet" href="css/style.css" type="text/css" />

<!-- COMPRESSED CSS - This will speed up the website.
<link rel="stylesheet" href="css/template.css.php?src=base-skeleton-template-custom-social_icons-superfish-style" type="text/css" />
-->

<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.7.2.min.js">\x3C/script>')</script>
<script src="js/jquery.noconflict.js" type="text/javascript"></script>

<script src="js/ekho_scripts.js" type="text/javascript"></script><!-- custom scripts file -->
<script src="js/modernizr.js" type="text/javascript"></script><!-- jquery modernizr -->

<link rel="shortcut icon" href="images/favicons/favicon.png">
<link rel="apple-touch-icon" href="images/favicons/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/favicons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/favicons/apple-touch-icon-114x114.png">
<!--[if lte IE 8]>
<link rel="stylesheet" type="text/css" href="css/fixes.css" />
<![endif]-->


<!-- Facebook OpenGraph Tags - Replace with your own-->
    <meta name="og:title" content="EKHO Template HTML"/>
    <meta name="og:type" content="website"/>
    <meta name="og:url" content="http://www.hogash.com/demo/ekho_html/"/>
    <meta name="og:image" content="http://www.hogash.com/demo/ekho_html/images/logo.png"/>
    <meta name="og:site_name" content="EkhoTemplate"/>
    <meta name="fb:app_id" content=""/> <!-- PUT HERE YOUR OWN APP ID - you could get errors if you use this one -->
    <meta name="og:description" content="This is EKHO, an awesome fullscreen template built for websites which need a fancy, out of the ordinary look."/>
<!-- END Facebook OpenGraph Tags -->

</head>

<body class="offline_page dark">
    <!-- ADD AN APPLICATION ID !!
    If you want to know how to find out your app id, either search on google for: facebook appid, either go to http://rieglerova.net/how-to-get-a-facebook-app-id/ -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId="; // addyour appId here
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
        
    <div id="page_wrapper"><!-- logo -->
		<a href="index.html" title="Ekho Template" id="logo"></a>
        
        <!-- social icons -->
        <div id="social_icons">
            <ul class="social_icons">
                <li><a href="#" target="_blank" rel="nofollow" class="social_iconF">F</a></li>
                <li><a href="#" target="_blank" rel="nofollow" class="social_iconL">L</a></li>
                <li><a href="#" target="_blank" rel="nofollow" class="social_iconD">D</a></li>
                <li><a href="#" target="_blank" rel="nofollow" class="social_iconPin">{</a></li>
            </ul>
        </div><!-- end social_icons -->
                    
        <div id="background">
        
        	<!-- Sparkles -->
        	<div id="sparkles"></div>
            <!--// If you don't want sparkles to show up, just delete this div id="sparkles" -->
            
        </div><!-- end background -->

        <div id="offline_page" class="container">
            
            <div class="row">
                <div class="sixteen columns">
                    <h4 class="big_text"><strong>ekho</strong> is a <strong>unique</strong> html template<br>that will <strong>rock your world</strong></h4>
                    <h4 style="text-align:center">We're currently under development!</h4>
                    <div class="ud_counter">
                        <ul id="Counter">
                            <li>0<span>day</span></li>
                            <li>00<span>hours</span></li>
                            <li>00<span>min</span></li>
                            <li>00<span>sec</span></li>
                        </ul>
                    </div><!-- end counter -->
                    <p style="text-align:center">Join our mailing list or follow us on Facebook or Twitter to stay up to date.</p>
                </div>
                <div class="clear"></div>
                
            </div>
        
        </div><!-- end offline_page -->
        
        <!-- social sharing -->
        <div id="social_sharing">
            <ul class="social-connect clearfix">
                <li class="fb_like_button">
                    <div class="bg_over"></div>
                    <div class="inner">
                        <div class="fb-like" data-href="http://www.hogash.com/demo/ekho_html/" data-send="false" data-layout="button_count" data-width="80" data-show-faces="false" data-font="arial"></div>
                    </div>    
                </li><!-- end FB Like button  -->
            
                <li class="tweetme">
                    <div class="bg_over"></div>
                    <div class="inner">
                        <a href="http://twitter.com/share" class="twitter-share-button" data-text="Check out this great new #html #template" data-via="hogash" data-url="http://hogash.com/demo/ekho_html/" data-count="horizontal" >Tweet</a>
                        <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
                    </div>
                </li><!-- end tweet button -->
            
                <li class="gplus">
                    <div class="bg_over"></div>
                    <div class="inner">
                        <script type="text/javascript">
                        (function() {
                        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                        po.src = 'https://apis.google.com/js/plusone.js';
                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                        })();
                        </script>
                        <div class="g-plusone" data-size="medium"></div>
                    </div>
                </li><!-- end gplus -->
            </ul>
            <div class="clear"></div>
        </div>
        
        <!-- footer -->
        <div id="footer">
            <div id="footer1" style="" data-align="left">
                <div class="inner">
                    <div class="mod-languages">
                        <ul class="lang-inline">
                            <li>
                                <a href="#" title="German (Fake Flag link for demo purposes)" data-rel="tipsy">
                                    <img src="images/language_flags/de.gif" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="#" data-rel="tipsy" title="French (Fake Flag link for demo purposes)">
                                    <img src="images/language_flags/fr.gif" alt="" /> 
                                </a>
                            </li>
                            <li class="lang-active">
                                <a href="#" data-rel="tipsy" title="English (Fake Flag link for demo purposes)">
                                    <img src="images/language_flags/en.gif" alt="" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!-- end @footer1 -->
            
            <div id="footer2" style="" data-align="left">
                <div class="inner">
                    <div class="bghelper">
                        <div class="modulecontent copyright">
                            <div class="custom"  >
                                <p>&copy; 2012 hogash.com - EKHO Premium Template. All rights reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end #footer2 -->
            
            <div id="footer3" style="" data-align="right">
                <div class="inner">
                    <div id="newsletter_form" class="iconWidget">
                        <a href="#" class="iconWidgetIcon">JOIN OUR MAILING LIST</a>
                        <div class="iconWidgetContainer">
                            <a href="#" class="closeIconWidget"></a>
                        
                            <h4 class="title"><span>JOIN OUR MAILING LIST</span></h4>
                            <span id="result">* it really works! Mailchimp Integration.</span>
                            <form method="post" id="newsletter_subscribe" name="newsletter_form" action="">
                                <div>
                                    <label for="user_mail">Your mail*</label>
                                    <input type="text" id="user_mail" name="email" maxlength="127" size="10">
                                </div>
                                <div>
                                    <label for="user_name">Your name</label>
                                    <input type="text" id="user_name" name="yname" maxlength="127" size="10">
                                </div>
                                <div>
                                    <input type="submit" class="btn" value="Subscribe">
                                </div>
                            </form>
                        </div><!-- end iconWidgetContainer -->
                    </div><!-- end iconWidget // newsletter_form -->
                </div>
            </div><!-- end #footer3 -->
            
            <div id="footer4" style="" data-align="right">
                <div class="inner">
                    <div id="contact_details" class="iconWidget">
                        <a href="#" class="iconWidgetIcon" style="">GET IN TOUCH</a>
                        <div class="iconWidgetContainer">
                            <a href="#" class="closeIconWidget"></a>
                            <h4 class="title"><span>GET IN TOUCH</span></h4>
                            <div class="contact_details">
                                <p>Your Company LTD<br />Street nr 100, 4536534, Chicago, US<br />T (212) 555 55 00</p>
                                <p>Email:&nbsp;<a href="mailto:sales@yourwebsite.com">sales@yourwebsite.com</a><br />Skype: your.business</p>
                                <a href="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;sll=40.703774,-73.948932&amp;sspn=0.010454,0.032637&amp;ie=UTF8&amp;hq=&amp;spn=0.020917,0.065274&amp;t=r&amp;z=13&amp;iwloc=A&amp;output=embed?iframe=true&amp;width=640&amp;height=480" data-rel="prettyPhoto" class="hoverLink" data-type="image"><img src="images/contact_map.jpg" alt="" /></a>
                            </div><!-- end contact_details -->
                        </div><!-- end iconWidgetContainer -->
                    </div><!-- end contact_details // newsletter_form -->
                </div>
            </div><!-- end #footer4 -->
        </div>

        
        <!-- live comments panel -->
        <div id="live_comments">
            <div id="livesocial" class="livesocial">
                <ul class="triggers">
                    <li class="facebook">Facebook Live Comments</li>
                    <li class="separator"></li>
                    <li class="tweets">Tweets</li>
                </ul><!-- end triggers buttons -->
                
                <div class="liveSocialContainer">
                    <a href="#" class="closeIconWidget"></a>
                    
                    <div class="facebook_comments both">
                        <div class="fb-comments" data-href="http://www.hogash.com/demo/ekho_html/" data-num-posts="2" data-width="400" data-colorscheme="dark"></div>
                    </div><!-- fb comments -->
                
                    <div class="twitter">
                        <div class="tweets" id="twitterFeed"><small>Please wait whilst our latest tweets load</small></div>
                    </div><!-- end twitter -->
                </div><!-- end liveSocialContainer -->
            </div><!-- end livesocial -->
        </div><!-- end live comments --> 
        
    </div><!-- end page_wrapper -->
	
    <script type = "text/javascript" src="js/jquery.backstretch.min.js"></script>
	<script type="text/javascript">
    (function($){
		// trigger the Fullscreen background
        $.backstretch("images/colorPulse_V4.jpg");
    })(jQuery);
	</script>
    
    <!-- Start Counter script -->
    <script type="text/javascript" src="js/jquery.countdown.js"></script>
    <script type="text/javascript">
		var counter = {
			init: function (d)
			{
				jQuery('#Counter').countdown({
					until: new Date(d),
					layout: counter.layout(),
					labels: ['years', 'months', 'weeks', 'days', 'hours', 'min', 'sec'],
					labels1: ['year', 'month', 'week', 'day', 'hour', 'nin', 'sec']
				});
			},
			layout: function ()
			{
				return '<li>{dn}<span>{dl}</span></li>' + 
							'<li>{hnn}<span>{hl}</span></li>' + 
							'<li>{mnn}<span>{ml}</span></li>' + 
							'<li>{snn}<span>{sl}</span></li>';
			}
		}
		
		// initialize the counter
		counter.init("December 01, 2012");

	</script>
	<!-- End Counter script -->
	  
	<script type="text/javascript" src="js/jquery.easing.1.3.min.js"></script><!-- jquery easing -->
    
    <script src="http://twitterjs.googlecode.com/svn/trunk/src/twitter.min.js" type="text/javascript"></script><!--
     This is the twitter feed. Unless you know what you're doing, try leaving intact. If you don't want twitter to appear on your website, delete #twitterFeed and it's script in ekho_scripts.js at line 59  -->
	
</body>
</html>