.dg-container{width: 100%;position: relative;}
.dg-wrapper{
	width: 481px;
	height: 316px;
	margin: 60px auto;
	position: relative;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
	-ms-perspective: 1000px;
	perspective: 1000px;
}
.dg-wrapper a{ width: 482px; height: 316px; display: block; position: absolute; left: 0; top: 0; background: transparent url(../browser.png) no-repeat top left; -webkit-box-shadow: 0px 10px 20px rgba(0,0,0,0.3); -moz-box-shadow: 0px 10px 20px rgba(0,0,0,0.3);box-shadow: 0px 10px 20px rgba(0,0,0,0.3); z-index:1;}
.dg-wrapper a.dg-center {z-index:2;}
.dg-wrapper a.dg-transition{ -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out;}
.dg-wrapper a img{display: block; padding: 47px 0px 0px 1px;}
.dg-wrapper a div{ font-family:Arial, Helvetica, sans-serif; color: #777; padding: 0 0 0 77px; font-size: 11px; line-height:1; top: 24px; position: absolute; }
.dg-wrapper a span{ text-align: center; color: #666666; text-shadow: 1px 1px 0 rgba(255,255,255,0.5); display: block; padding-top: 2px; position: absolute; left: 0; top: 2px; line-height: 1; font-size: 12px; font-family: Arial, Helvetica, sans-serif; width: 480px; }
.dg-container div.nav span.dg-prev.p2 {position: absolute;left: -25px;top: 0;width: 270px;background: none;height: 315px;}
.dg-container div.nav span.dg-next.p2 {position: absolute;right: -25px;top: 0;width: 270px;background: none;height: 315px;margin:0;}

.dg-container div.nav span{text-indent: -9000px; cursor:pointer;}
.dg-container div.nav .arrows_small {position: absolute; left: 50%; margin-left: -20px; bottom: 40px;}
.dg-container div.nav .arrows_small span {width: 14px; height: 14px; float: left; background-image: url(../arrows.png); background-repeat:no-repeat; background-color: #fff; border:1px solid #d9d9d9; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; margin-left:4px; }
.dg-container div.nav .arrows_small span:hover{border:1px solid #5b5b5b;}
.dg-container div.nav .arrows_small span.dg-prev {background-position:0 -28px;}
.dg-container div.nav .arrows_small span.dg-prev:hover {background-position:0 -42px;}
.dg-container div.nav .arrows_small span.dg-next {background-position:0 0;}
.dg-container div.nav .arrows_small span.dg-next:hover {background-position:0 -14px;}

body.light .dg-container,
body.light .dg-container h3 {color:#f5f5f5;}

#front_centered.noMainboxes #slideshow {
	margin-top:-245px;
	height:430px;
}