{% load pages_tags mezzanine_tags i18n future %}
<div id="footer">
    <div id="footer1" style="" data-align="left">
        <div class="inner">
          {% page_menu "pages/menus/footer.html" %}
        </div>
    </div><!-- end @footer1 -->
    
    <div id="footer2" style="" data-align="left">
        <div class="inner">
            <div class="bghelper">
                <div class="modulecontent copyright">
                    <div class="custom"  >
                        <p>© 2012 Web Power Labs. All rights reserved. © 2012 Rabbit-Hole-Studios. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end #footer2 -->
    
    <div id="footer3" style="" data-align="right">
        <div class="inner">
            <div id="newsletter_form" class="iconWidget">
                <a href="#" class="iconWidgetIcon">JOIN OUR MAILING LIST</a>
                <div class="iconWidgetContainer">
                    <a href="#" class="closeIconWidget"></a>
                
                    <h4 class="title"><span>JOIN OUR MAILING LIST</span></h4>
                    <span id="result">* it really works! Mailchimp Integration.</span>
                    <form method="post" id="newsletter_subscribe" name="newsletter_form" action="">
                        <div>
                            <label for="user_mail">Your mail*</label>
                            <input type="text" id="user_mail" name="email" maxlength="127" size="10">
                        </div>
                        <div>
                            <label for="user_name">Your name</label>
                            <input type="text" id="user_name" name="yname" maxlength="127" size="10">
                        </div>
                        <div>
                            <input type="submit" class="btn" value="Subscribe">
                        </div>
                    </form>
                </div><!-- end iconWidgetContainer -->
            </div><!-- end iconWidget // newsletter_form -->
        </div>
    </div><!-- end #footer3 -->
    
    <div id="footer4" style="" data-align="right">
        <div class="inner">
            <div id="contact_details" class="iconWidget">
                <a href="#" class="iconWidgetIcon" style="">GET IN TOUCH</a>
                <div class="iconWidgetContainer">
                    <a href="#" class="closeIconWidget"></a>
                    <h4 class="title"><span>GET IN TOUCH</span></h4>
                    <div class="contact_details">
                        <p>Your Company LTD<br />Street nr 100, 4536534, Chicago, US<br />T (212) 555 55 00</p>
                        <p>Email:&nbsp;<a href="mailto:sales@yourwebsite.com">sales@yourwebsite.com</a><br />Skype: your.business</p>
                    </div><!-- end contact_details -->
                </div><!-- end iconWidgetContainer -->
            </div><!-- end contact_details // newsletter_form -->
        </div>
    </div><!-- end #footer4 -->
</div>