<div id="live_comments">
    <div id="livesocial" class="livesocial">
        <ul class="triggers">
            <li class="facebook">Facebook Live Comments</li>
            <li class="separator"></li>
            <li class="tweets">Tweets</li>
        </ul><!-- end triggers buttons -->
        
        <div class="liveSocialContainer">
            <a href="#" class="closeIconWidget"></a>
            
            <div class="facebook_comments both">
                <div class="fb-comments" data-href="/" data-num-posts="2"
                     data-width="400" data-colorscheme="dark"></div>
            </div><!-- fb comments -->
        
            <div class="twitter">
                <div class="tweets" id="twitterFeed"><small>Please wait whilst our latest tweets load</small></div>
            </div><!-- end twitter -->
        </div><!-- end liveSocialContainer -->
    </div><!-- end livesocial -->
</div><!-- end live comments --> 