<head>
  <style type="text/css">@media print {
    .gmnoprint {
      display: none
    }
  }

  @media screen {
    .gmnoscreen {
      display: none
    }
  }</style>


    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title> | Dads Again</title>
    <link rel="shortcut icon" href="http://127.0.0.1:8000/static/img/favicon.ico">


    <link rel="alternate" type="application/rss+xml" title="RSS" href="/blog/feeds/rss/">
    <link rel="alternate" type="application/atom+xml" title="Atom" href="/blog/feeds/atom/">


  <link rel="stylesheet" href="http://127.0.0.1:8000/static/css/user-menu.css">
  <link rel="stylesheet" href="http://127.0.0.1:8000/static/css/bootstrap.css">
    <link rel="stylesheet" href="http://127.0.0.1:8000/static/css/bootstrap.responsive.css">
    <link rel="stylesheet" href="http://127.0.0.1:8000/static/css/template-styles.css">


  <!--<link rel="stylesheet" href="http://127.0.0.1:8000/static/css/civic-style.css">-->

    <link rel="stylesheet" href="http://127.0.0.1:8000/static/css/layouts/active-branch.css">
    <link rel="stylesheet" href="http://127.0.0.1:8000/static/css/style.css">

    <!--Google Web Fonts-->
    <link href="http://fonts.googleapis.com/css?family=Playfair+Display:900italic|Sonsie+One|IM+Fell+Great+Primer:400italic"
          rel="stylesheet" type="text/css">


  <script src="http://127.0.0.1:8000/static/mezzanine/js/jquery-1.7.1.min.js"></script>
    <script src="http://127.0.0.1:8000/static/mezzanine/js/jquery-1.7.1.min.js"></script>
    <script src="http://127.0.0.1:8000/static/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            $('.middleinput:text, textarea').addClass('xlarge');
            $('.control-group label').addClass('control-label');
        });
    </script>

    <!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

    <!-- fonts -->
    <link href="http://fonts.googleapis.com/css?family=Lato:400,900,900italic,400italic" rel="stylesheet"
          type="text/css">


  <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8000/static/css/layouts/layouts-style.css">

    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8000/static/css/layouts/layouts-style.css">
    <link rel="stylesheet" media="screen" href="http://127.0.0.1:8000/static/css/layouts/elastislide.css">
    <style type="text/css">
        .btn-list {
            list-style: none;
        }

        .btn-list li {
            margin-bottom: 5px;
        }
    </style>


    <script type="text/javascript" src="http://127.0.0.1:8000/static/js/babyMap.js"></script>
    <!--elastislide carousel script starts-->
    <script type="text/javascript" src="http://127.0.0.1:8000/static/js/jquery.elastislide.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:8000/static/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#carousel').elastislide({
                imageW: 200,
                margin: 20,
                border: 4,
                easing: 'easeInBack',
            });
        });
    </script>
    <!--elastislide carousel script ends-->


</head>




<div class="span12">
    <div class="related-posts">
        <div id="carousel" class="es-carousel-wrapper">
            <div class="es-carousel">
                <ul style="width: 1606px; margin-left: 0px;">


                    <li style="margin-right: 20px; width: 208px;">

                        <div class="folio-thumb">
                            <a class="" href="/layout/layout/layout-3/">
                                <img src="http://127.0.0.1:8000/static/media/uploads/gallery/.thumbnails/Bruxelles%2C%20Belgium_47-200x100.jpg"
                                     alt="" title="">
                            </a>
                        </div>

                        <h4><a href="/layout/layout/layout-3/">Layout 3</a></h4>

                      <p>
                            Layout / Layout / Layout 3
                        </p>
                    </li>


                  <li style="margin-right: 20px; width: 208px;">

                        <div class="folio-thumb">
                            <a class="" href="/layout/layout-1/">
                                <img src="http://127.0.0.1:8000/static/media/uploads/gallery/.thumbnails/Warsaw%2C%20Poland_47-200x100.jpg"
                                     alt="" title="">
                            </a>
                        </div>

                        <h4><a href="/layout/layout-1/">Layout 1</a></h4>

                    <p>
                            Curabitur a tristique magna. Vestibulum feugiat ligula eu turpis dapibus mollis. Maecenas
                      vel leo libero, eu facilisis purus. Nulla sed ...
                        </p>
                    </li>


                  <li style="margin-right: 20px; width: 208px;">

                        <div class="folio-thumb">
                            <a class="" href="/layout/layout/layout-4/layout-5/">
                                <img src="http://127.0.0.1:8000/static/media/uploads/.thumbnails/Baby-Family-Photograph-2-200x100.jpg" alt=""
                                     title="">
                            </a>
                        </div>

                        <h4><a href="/layout/layout/layout-4/layout-5/">Layout 5</a></h4>

                    <p>
                            Layout / Layout / Layout 4 / Layout 5
                        </p>
                    </li>


                  <li style="margin-right: 20px; width: 208px;">

                        <div class="folio-thumb">
                            <a class="" href="/layout/layout/layout-4/layout-5/layout-6/">
                                <img src="http://127.0.0.1:8000/static/media/uploads/.thumbnails/Baby-Family-Photograph-2-200x100.jpg" alt=""
                                     title="">
                            </a>
                        </div>

                        <h4><a href="/layout/layout/layout-4/layout-5/layout-6/">Layout 6</a></h4>

                    <p>
                            Layout / Layout / Layout 4 / Layout 5 / Layout 6
                        </p>
                    </li>


                  <li style="margin-right: 20px; width: 208px;">

                        <div class="folio-thumb">
                            <a class="" href="/layout/layout/">
                                <img src="http://127.0.0.1:8000/static/media/uploads/.thumbnails/Baby-Family-Photograph-2-200x100.jpg" alt=""
                                     title="">
                            </a>
                        </div>

                        <h4><a href="/layout/layout/">Layout</a></h4>

                    <p>
                            Layout / Layout
                        </p>
                    </li>


                  <li style="margin-right: 20px; width: 208px;">

                        <div class="folio-thumb">
                            <a class="" href="/layout/layout/layout-4/">
                                <img src="http://127.0.0.1:8000/static/media/uploads/gallery/.thumbnails/Bruxelles%2C%20Belgium_47-200x100.jpg"
                                     alt="" title="">
                            </a>
                        </div>

                        <h4><a href="/layout/layout/layout-4/">Layout 4</a></h4>

                    <p>
                            Layout / Layout / Layout 4
                        </p>
                    </li>


                  <li style="margin-right: 20px; width: 208px;">

                        <div class="folio-thumb">
                            <a class="" href="/layout/">
                                <img src="http://127.0.0.1:8000/static/media/uploads/gallery/.thumbnails/Bruxelles%2C%20Belgium_47-200x100.jpg"
                                     alt="" title="">
                            </a>
                        </div>

                        <h4><a href="/layout/">Layout</a></h4>

                    <p>
                            map
                        </p>
                    </li>


                </ul>
            </div>
            <div class="es-nav"><span class="es-nav-prev" style="display: none;">Previous</span><span
                class="es-nav-next" style="">Next</span></div>
        </div>
    </div>
</div>